/* imports */

@import "./typography.css";
@import "./card.css";
@import "./social.css";

/*Grids*/

.contain {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 5fr 0.3fr ; 
	grid-template-areas: 
	"nav nav nav"
	"p p p"
	"ft ft ft";
}

.contain2 {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.1fr 1fr 0.6fr 0.1fr;
	grid-template-areas:
	"hd hd"
	"txt txt"
	"abt abt"
	"f f";
}

/* Header */
.nav {
	grid-area: nav;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	border-bottom: 1px solid slategrey;
	margin-bottom: 5px;
}

.head {
	margin-left: auto;
	padding-right:50px;
	
}

.navbar {
	list-style-type: none;


}

.navbar > li {
	border: 1px solid slategrey;
	margin-bottom: 5px;
	padding: 3px;
	background-color: lightgrey;
	
}

#hr {
	grid-area: hd;
}

.fixed {
	position: fixed;
	top:0;
	left:0;
	border: 1px solid slategrey;
	background-color:lightgrey;
	margin: 5px;
}



/* Main Content & Flexboxes */
.p {
	grid-area: p;
	display: flex;
	flex-direction: row; 
	align-items: flex-start;
}

#mn {
	grid-area: txt;
}

#flex1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#hd2 {
	text-align: center;
}

#as {
	grid-area: abt;
}

#hd3 {
	text-align: center;
}

/* Footers */

.foot {
	grid-area: ft;
}

#f {
	grid-area: f;
}

/*Media Queries*/

@media (max-width: 820px) {
	.p {
		grid-area: p;
		display: flex;
		flex-direction: column; 
		align-items: center;
	}
}

@media (max-width: 650px) {

	.nav {
		grid-area: nav;
		display: flex;
		flex-direction: column;
		align-items: center;

    }
    .head {
		margin: 5px auto;
		padding: 0;
		font-size: 1.7rem;
		text-align: center;
	}

	#res {
	 	margin: 20px auto auto auto;
		font-size: 1.5rem;
		text-align: center;
		list-style-type: none;
	}

	h2,
	h3 {
		text-align: center;
	}

}



