/* Universal */
* {
    font-family: 'Open Sans', sans-serif;
}

#contain {
	display: grid;
	width: 100%;
	margin: auto;
	border: 5px solid red;
	/*grid-template-columns: 50vw 50vw; 
	grid-template-rows: 20vh 70vh 10vh; */
	grid-template-areas:
	"hd nav"
	"img mn"
	"ft ft";
	justify-content: center;
}
/* Header */
#title {
	grid-area: hd;
	border: 5px solid pink;
}
#navbar {
	grid-area: nav;
	border: 5px solid pink;
}

/* Content */
#leila_img {
	grid-area: img;
	width: auto;
	height: 350px;
	border: 5px solid pink;
}

#main_content {
	grid-area: mn;
	border: 5px solid pink;
}

/* Footer */

#foot {
	grid-area: ft;
	border: 5px solid pink;
}